<% include partials/header %>

<script>
function search() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("th")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
    tr[0].style.display = "";
  }
}

function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[7];
      y = rows[i + 1].getElementsByTagName("TD")[7];
      // Check if the two rows should switch place:
      if (parseFloat(x.innerHTML) < parseFloat(y.innerHTML)) {
        // I so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

</script>
 
    <div style="width:100%;">
        <table class="table table-striped table-bordered table-hover " border="1" width="100%" id = "myTable">
            <thead class = "thead-dark ">
                <tr>
                    <th>Name</th>
                    <th><img src="gate.png" height="25" alt="">   Gate.IO</th>
                    <th><img src="okex.png" height="25" alt="">    OKEX</th>
                    <th><img src="poloniex.png" height="25" alt="">    Poloniex</th>
                    <th><img src="binance.png" height="25" alt="">    Binance</th>
                    <th><img src="kucoin.png" height="25" alt="">    KuCoin</th>
                    <th>Max</th>
                    <th>Min</th>
                    <th><a  onclick="sortTable()" >%</a></th>
                </tr>
            </thead>

            <tbody>
                <% for (var key in priceList['prices']){ %>
                    <tr>
                      <th scope="row"><%= key %></th>
                        <td>
                            <% if (priceList['prices'][key]['Gate.IO'] == -1){ %>
                                <%= '_' %>
                            <% } else { %>
                                <%= priceList['prices'][key]['Gate.IO'] %>
                            <% } %>
                        </td>
                        <td>
                                <% if (priceList['prices'][key]['OKEX'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['prices'][key]['OKEX'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['prices'][key]['Poloniex'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['prices'][key]['Poloniex'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['prices'][key]['Binance'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['prices'][key]['Binance'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['prices'][key]['KuCoin'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['prices'][key]['KuCoin'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['stats'][key]['max']['value'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['stats'][key]['max']['value'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['stats'][key]['min']['value'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['stats'][key]['min']['value'] %>
                                <% } %>
                        </td>
                        <td>
                                <% if (priceList['stats'][key]['diff']['perc'] == -1){ %>
                                    <%= '_' %>
                                <% } else { %>
                                    <%= priceList['stats'][key]['diff']['perc'] %>
                                <% } %>
                        </td>

                    </tr>
                <% } %>
                  </tbody>
        </table>
    </div>

<% include partials/footer %>